.for {
    font-family: Rubik-medium;
    font-size: 35px;
    line-height: 45px;

}

.box-for {
    margin-top: 58px;
    margin-left: 70px;
}
.with{
font-family: Rubik-Regular;
font-size: 16px;
line-height: 30px;
padding-top: 20px;
color: #4F5665;
}

footer {
    margin-top: 65px;

}

.obuna {
  justify-content: space-around;
     display: flex;
   margin: 0 auto;
    background-color: white;
    width: 1140px;
    height: 233px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

 

}
.moma{
margin-top: 65px;
}
.now{
padding: 17px 65px;
margin-top: 104px  ;
border-radius: 10px;
border: none;
font-family: Rubik-bold;
font-size: 16px;
line-height: 25px;
}
.now:hover{
    color: white;
background-color: #F53838;
transition: .8s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.ohiri{
    margin-top: 63px;
    display: flex;
justify-content: space-around;
padding-top: 150px;


}
.hop{
    background-color: #F8F8F8;
}
.isa{
font-family: Rubik-regular;
font-size: 16px;
line-height: 30px;
color: #4F5665;
}
.isa span{
font-family: Rubik-medium;
font-size: 16px;
line-height: 30px;

}
.insta{
margin-top: 30px ;
}
.yil{
    font-family: Rubik-regular;
    font-size: 16px;
line-height: 30px;
color: #4F5665;

}
.yil span{
    font-family: Rubik-medium;
    font-size: 16px;
    line-height: 30px;
    
}
.pro{
    font-family: Rubik-medium;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 20px;

}
.dow{
    font-family: Rubik-regular;
    font-size: 16px;
line-height: 30px;
color: #4F5665;
padding-top: 10px;}
